---
import { Icon } from 'astro-icon/components'
---

<div class="w-12 h-12 flex justify-center items-center border rounded-full border-zinc-500">
   <Icon name="mdi:chevron-right" size={24} />
 </div>