---
import { Icon } from "astro-icon/components";

const { size = 24, dimension = 48 } = Astro.props;
---

<div
  class=`w-[${dimension}px] h-[${dimension}px] flex justify-center items-center border rounded-full border-zinc-500`
>
  <Icon name="mdi:chevron-right" size={size} />
</div>
